* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

header {
  color: #fff;
  background-color: #1f2937;
}

nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 10px;
}

section h1 {
  display: flex;
  justify-content: center;
  font-size: 80px;
}

footer {
  display: flex;
  justify-content: center;
  background-color: black;
  color: white;
  padding: 5px;
}

.logo {
  display: flex;
  align-items: left;
  font-size: 20px;
}

.table-links a {
  margin: 5px;
  font-size: 16px;
}

.focus {
  display: flex;
  justify-content: space-evenly;
  padding: 100px 10px;
}

.hero {
  border: 4px solid #000000;
  border-radius: 10px;
  height: 400px;
  width: 600px;
}

.text-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
}

.text-1 h1 {
  font-size: 4rem;
}

.text-1 p {
  font-size: 20px;
}

.text-1 a {
  background-color: #ab0000;
  margin-top: 15px;
  padding: 10px;
  border-radius: 5px;
}

.old {
  background-color: #ab0000;
}

.new {
  background-color: #00ccff;
}

.yonko {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 50px 70px 50px;
}

.yonko img {
  height: 300px;
  width: 300px;
  border: solid 5px;
  border-radius: 50%;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.profile h3 {
  margin-top: 10px;
}

.one-piece {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-image: url(../images/grandline.webp);
  padding: 30px;
}

.one-piece h2 {
  font-size: 100px;
}

.one-piece p {
  font-size: 40px;
}
