* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

header {
  color: #fff;
  background-color: #1f2937;
}

nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 10px;
}

.logo {
  display: flex;
  align-items: left;
  font-size: 20px;
}

.table-links a {
  margin: 5px;
  font-size: 16px;
}

.focus {
  display: flex;
  justify-content: space-evenly;
  padding: 100px 10px;
}

.hero {
  border-radius: 10px;
  height: 400px;
  width: 600px;
}

.text-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
}

.text-1 h1 {
  font-size: 4rem;
}

.text-1 p {
  font-size: 20px;
}

.text-1 a {
  background-color: #9b0000;
  margin-top: 15px;
  padding: 10px;
  border-radius: 5px;
}

.groups {
  padding: 100px;
  background-color: #ab0000;
}
